
.list {
  text-align: center;
  font-family: 'Ubuntu Mono';
  font-size: 0.85em;
  background-color: #343332;
  height: 20vh;
}

.hr {
  border: 1px solid #343332;
}

.log {
  width: auto;
  min-height: 29.5vh;
  background-color: #191A1A;
  color: white;
  border: 1px solid #343332;
}

.header {
  padding-left: 10%;
  display: flex;
  align-content: center;
  align-items: baseline;
}


.waiting {
  padding-left: 91px;
  position: relative;
  display: inline-block;
  font-family: 'Ubuntu Mono', Courier, serif;
  font-size: inherit;
  background-color: inherit;
  line-height: 0em;
  min-width: 1em;
}

.waiting::after {
  font-size: 0.8em;
  color: lime;
  content: "...waiting";
  position: absolute;
  top: 0;
  right: -0.5em;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #343332;
  vertical-align: bottom;
  width: 0.25em;
  /* Set height to the line height of .text */
  height: 0.3em;
  /*
  Animation paramaters:
  blink = animation-name,
  1s = animation-duration,
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */

}

.working {
  position: relative;
  display: inline-block;
  font-family: 'Ubuntu Mono', Courier, serif;
  font-size: inherit;
  background-color: inherit;
  line-height: 0em;
  min-width: 1em;
}

.working::after {
  font-size: 0.8em;
  color: red;
  content: "...working";
  position: absolute;
  top: 0;
  right: -0.5em;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #343332;
  vertical-align: bottom;
  width: 0.25em;
  /* Set height to the line height of .text */
  height: 0.3em;
  /*
  Animation paramaters:
  blink = animation-name,
  1s = animation-duration,
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;

}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
